<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>ChalkBoard Online - Entrega online em 48 horas!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Atom Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="@{'public/templatepublic/css/bootstrap.css'}" rel='stylesheet' type='text/css' />
<link href="@{'public/templatepublic/css/style.css'}" rel='stylesheet' type='text/css' />
<script src="@{'public/templatepublic/js/jquery-1.11.0.min.js'}"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="@{'public/templatepublic/js/move-top.js'}"></script>
<script type="text/javascript" src="@{'public/templatepublic/js/easing.js'}"></script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
	<div class="banner" id="home">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="@{Application.index}"><img src="@{'public/images/logo2.png'}" alt="BemVindo - Inteligência em Marketing Digital" title="BemVindo - Inteligência em Marketing Digital" style="width: 60%"></a>
				</div>
				<div class="navigation">
					 <span class="menu"></span> 
						<ul class="navig">
							<li><a href="@{Application.index}" class="scroll active">INÍCIO</a></li>
							<li><a href="/howitworks" class="active">COMO FUNCIONA</a></li>
							<li><a href="/questions" class="active">PERGUNTAS FREQUENTES</a></li>
							<li><a href="/contact" class="active">CONTATO</a></li>
						</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	<script type="text/javascript"	src="@{'public/templatepublic/js/modernizr.custom.min.js'}"></script>
	<script src="@{'public/templatepublic/js/jquery.magnific-popup.js'}" type="text/javascript"></script>
		<!---//pop-up-box---->
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type : 'inline',
					fixedContentPos : false,
					fixedBgPos : true,
					overflowY : 'auto',
					closeBtnInside : true,
					preloader : false,
					midClick : true,
					removalDelay : 300,
					mainClass : 'my-mfp-zoom-in'
				});
	
			});
		</script>					
		<!--End-pop-up-box-->
		<!--start-contact-->
		
		<div class="contact" id="contact" style="padding: 2em 0">
			<div class="container" style="background-color: #fff; border-radius: 0.8em; padding: 20px">
				<div class="contact-top">
					<h3 style="margin: 0">Escolha o modelo, preencha o formulário, pague e aguarde o e-mail com o seu pedido. :)</h3>
					<p>Prazo de <b>entrega</b> dos arquivos digitais: <b>48</b> horas. <a href="#">[Saiba mais!]</a></p>
				</div>
				
				<div id="pricing" class="pricing" style="padding: 1em 0">
					<div class="pricing-top" style="margin: 0">
						<div class="pricing-bottom" style="margin: 0">
							<div id="model1" class="col-md-4 pricing-left"
								onmouseover="highlightModel(this);"
								onmouseout="unHighlightModel(this)" onclick="chooseModel(this);">
								<div class="price-one">
									<span></span>
									<h2 class="girls">PARA MENINAS</h2>
									<div class="price-one"
										style="background: url('public/images/model1.jpg') no-repeat; height: 500px">
									</div>
									<div class="p-btn">
										<h2>
											<sup>R$</sup><b>60,00</b>
										</h2>
									</div>
								</div>
							</div>
							<div id="model2" class="col-md-4 pricing-left"
								onmouseover="highlightModel(this);"
								onmouseout="unHighlightModel(this)" onclick="chooseModel(this);">
								<div class="price-one">
									<span></span>
									<h2 class="boys">PARA MENINOS</h2>
									<div class="price-one"
										style="background: url('public/images/model1.jpg') no-repeat; height: 500px">
									</div>
									<div class="p-btn">
										<h2>
											<sup>R$</sup><b>60,00</b>
										</h2>
									</div>
								</div>
							</div>
							<div id="model3" class="col-md-4 pricing-left"
								onmouseover="highlightModel(this);"
								onmouseout="unHighlightModel(this)" onclick="chooseModel(this);">
								<div class="price-one">
									<span></span>
									<h2 class="general">GERAL</h2>
									<div class="price-one"
										style="background: url('public/images/model1.jpg') no-repeat; height: 500px">
									</div>
									<div class="p-btn">
										<h2>
											<sup>R$</sup><b>60,00</b>
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<span id="message"></span>
				<div class="contact-bottom col-md-12">
					#{if flash.success}
				        <p class="success">${flash.success}</p>
				    #{/if}
				
				    #{ifErrors}
				        <p class="errors">Oops... Algo errado aconteceu! :(</p>
				    #{/ifErrors}
					<!--form-children-->
					<div class="contact-bottom col-md-6">
						<h2 class="general">CHALKBOARD</h2>
						#{include 'includes/formChildren.html' /}
					</div>
					<!--form-children-->
					<!--form-payment-->
					<div class="contact-bottom col-md-6">
						<h2 class="general">PAGAMENTO</h2>
						#{include 'includes/formPayment.html' /}
					</div>
				</div>
			</div>
		</div>
	</div>
		<!--end-contact-->
	<!--start-footer-->
	#{include 'includes/footerPublic.html' /}
	<!--end-footer-->
	
	<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
	<script type="text/javascript">
	  $(function() {
	    $('.age').mask('00');
	    $('.date').mask('00/00/0000');
	    $('.time').mask('00:00:00');
	    $('.date_time').mask('00/00/0000 00:00:00');
	    $('.cep').mask('00000-000');
	    $('.phone').mask('0000-0000');
	    $('.phone_with_ddd').mask('(00) 0000-0000');
	    $('.phone_us').mask('(000) 000-0000');
	    $('.mixed').mask('AAA 000-S0S');
	    $('.ip_address').mask('099.099.099.099');
	    $('.percent').mask('##0,00%', {reverse: true});
	    $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
	    $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
	    $('.fallback').mask("00r00r0000", {
	      translation: {
	        'r': {
	          pattern: /[\/]/, 
	          fallback: '/'
	        }, 
	        placeholder: "__/__/____"
	      }
	    });
	
	    $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});
	
	    $('.cep_with_callback').mask('00000-000', {onComplete: function(cep) {
	        console.log('Mask is done!:', cep);
	      },
	       onKeyPress: function(cep, event, currentField, options){
	        console.log('An key was pressed!:', cep, ' event: ', event, 'currentField: ', currentField.attr('class'), ' options: ', options);
	      },
	      onInvalid: function(val, e, field, invalid, options){
	        var error = invalid[0];
	        console.log ("Digit: ", error.v, " is invalid for the position: ", error.p, ". We expect something like: ", error.e);
	      }
	    });
	
	    $('.crazy_cep').mask('00000-000', {onKeyPress: function(cep, e, field, options){
	      var masks = ['00000-000', '0-00-00-00'];
	        mask = (cep.length>7) ? masks[1] : masks[0];
	      $('.crazy_cep').mask(mask, options);
	    }});
	
	    $('.cpf').mask('000.000.000-00', {reverse: true});
	    $('.money').mask('#.##0,00', {reverse: true});
	
	    var SPMaskBehavior = function (val) {
	      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
	    },
	    spOptions = {
	      onKeyPress: function(val, e, field, options) {
	          field.mask(SPMaskBehavior.apply({}, arguments), options);
	        }
	    };
	
	    $('.sp_celphones').mask(SPMaskBehavior, spOptions);
	
	    $(".bt-mask-it").click(function(){
	      $(".mask-on-div").mask("000.000.000-00");
	      $(".mask-on-div").fadeOut(500).fadeIn(500)
	    })
	
	    $('pre').each(function(i, e) {hljs.highlightBlock(e)});
	  });
	</script>
	<script type="text/javascript" src="@{'public/templatepublic/js/functions.js'}"></script>
</body>
</html>